body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    align-content: center;
    justify-content: center
}

canvas,
video {
    position: absolute;
}